dropbox_app_location: '{{ dropbox_app_location }}'
dropbox_access_token: '{{ dropbox_access_token }}'
dropbox_app_link: '{{ dropbox_app_link }}'
ipu_email_service_host: '{{ ipu_email_service_host }}'
ipu_db_user: '{{ ipu_db_user }}'
ipu_db_password: '{{ ipu_db_password }}'
ipu_db_host: '{{ ipu_db_host }}'
ipu_db_port: '{{ ipu_db_port }}'
ipu_database: '{{ ipu_database }}'
pgbouncer_host: '{{ pgbouncer_host }}'
pgbouncer_port: '{{ pgbouncer_port }}'
env_name : '{{env_name}}'
database_database: '{{ database_database }}'
database_user: '{{ database_user }}'
database_password: '{{ database_password }}'
database_host: '{{ database_host }}'
database_port: '{{ database_port }}'
one_drive_api_ipu_client_id: '{{ one_drive_api_ipu_client_id }}'
one_drive_api_ipu_client_secret: '{{ one_drive_api_ipu_client_secret }}'
one_drive_api_ipu_user_name: '{{ one_drive_api_ipu_user_name }}'
one_drive_api_ipu_password: '{{ one_drive_api_ipu_password }}'
one_drive_api_ipu_scope: '{{ one_drive_api_ipu_scope }}'
tenant_id: '{{ tenant_id }}'
sharepoint_app_location: '{{ sharepoint_app_location }}'
sharepoint_app_link: '{{ sharepoint_app_link }}'
one_drive_amps_ipu_site_id: '{{ one_drive_amps_ipu_site_id }}'
one_drive_amps_ipu_drive_id: '{{ one_drive_amps_ipu_drive_id }}'